body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 950px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
}

.header {
    text-align: center;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

/* Menu */
.menu {
    width: 45%;
    border: 1px solid #ccc;
    padding: 15px;
}

.menu-item {
    margin-bottom: 12px;
}

.menu-item span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.menu button {
    padding: 6px 10px;
    margin-right: 5px;
    cursor: pointer;
}

/* Bill */
.bill {
    width: 55%;
    border: 1px solid #ccc;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.total {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 40px;
}

.clear-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #c62828;
    color: white;
    border: none;
    cursor: pointer;
}

.print-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}

.remove-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}

/* PRINT ONLY BILL */
@media print {
    body * {
        visibility: hidden;
    }
    .bill, .bill * {
        visibility: visible;
    }
    .bill {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
